body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100vw;
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-align: center;
    color: white;
}

.table {
    background: url(Images/BlackjackBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 539px;
    height: 360px;
    margin: 0 auto;
}

h1 {
    color: goldenrod;
    padding-top: 1.5rem;
    margin-bottom: 2.5rem;
    font-size: 3.5rem;
    text-shadow: black 2px 2px 20px;
}

#message-el {
    font-style: italic;
}

button {
    width: 150px;
    color: #016f32;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border-style: none;
    border-radius: 2px;
}